@charset "UTF-8";
@keyframes escalar_trabajo {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@keyframes opacidad {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav-link {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.918);
}

@keyframes logo_escalar {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
.logo {
  width: 80px;
}

.logo:hover {
  animation: logo_escalar 2s ease-in-out infinite;
}

/* estilos para la primer section del index */
.first-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
  animation: fadeIn;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 5s;
  /* don't forget to set a duration! */
}
.first-section h1 {
  font-size: 3rem;
  text-align: center;
}

/* fin de estilo para la imagen principal del index*/
/* estilos para la seccion de los trabajos realizados en el index*/
.lista-trabajos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.trabajo {
  width: 17.6rem;
  height: 100%;
  background-color: rgb(255, 255, 255);
  animation: opacidad 5s ease-in-out;
  animation: escalar_trabajo 5s ease-in-out;
}

.trabajos img {
  width: 100%;
}

.parrafo-trabajo {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.918);
  text-align: center;
  margin: 2rem;
}

.titulo-trabajos {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
  animation: opacidad 5s ease-in-out;
}

/* fin de estilos para la seccion de los trabajos realizados del index*/
/* estilos para la ubicacion en el index*/
#ubicacion h2 {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
}
#ubicacion iframe {
  width: 100%;
}

/* fin estilos para la ubicacion en el index*/
/* estilos para los servicios */
.servicio {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 10rem;
  margin-bottom: 1.2rem;
  animation: opacidad 3s ease-in-out;
}
.servicio img {
  border-radius: 100%;
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.servicio-descripcion {
  background-color: rgba(184, 165, 165, 0.76);
}

.titulo-servicio {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.918);
  font-weight: bold;
}

.texto-servicio {
  color: rgba(0, 0, 0, 0.918);
  font-size: 1.2rem;
}

/* fin estilos de los servicios*/
/* estilos para la seccion de reservas */
.reserva {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10rem;
  animation: opacidad 3s ease-in-out;
}

.titulo-reserva {
  text-align: center;
  margin: 2rem;
}

.reserva-step {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  height: 50rem;
  width: 70%;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}
.reserva-step .formulario-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reserva-step .formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reserva-step select {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}
.reserva-step button {
  font-size: 1rem;
  border-radius: 5px;
  background-color: #dd77e0;
  height: 30px;
  margin-top: 50px;
}

.input-custom {
  border: 1px solid #666666;
}

.select-custom {
  border: 1px solid #666666;
}

/* .formulario-buttons .btn-enviar-reserva {
    display: none;
} */
.fechas-disponibles .active {
  display: flex;
  flex-direction: column;
}

.horarios-disponibles .active {
  display: flex;
  flex-direction: column;
}

#btn-fechas {
  display: none;
}
#btn-fechas .active {
  display: flex;
}

#btn-horarios {
  display: none;
}
#btn-horarios .active {
  display: flex;
}

/* fin de estilos para la seccion de reservas*/
.lista-reserva {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10rem;
  animation: opacidad 3s ease-in-out;
}

.titulo-turno {
  text-align: center;
  margin: 2rem;
}

/* estilos para las preguntas frecuentes */
#preguntas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  animation: opacidad 3s ease-in-out;
}

.titulo-preguntas {
  margin-bottom: 40px;
}
.titulo-preguntas h1 {
  font-weight: bold;
}

.preguntas {
  width: 60%;
}

.pregunta-item {
  margin-bottom: 30px;
  font-weight: bold;
}
.pregunta-item h2 {
  font-weight: bold;
}

/* fin estilos para las preguntas frecuentes */
/* estilos para la pagina de contacto */
.contacto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10rem;
  margin-bottom: 2rem;
  animation: opacidad 3s ease-in-out;
}

.contacto-titulo {
  font-size: 1rem;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
}

.contacto-parrafo {
  width: 50%;
  margin-bottom: 50px;
}

.contacto-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto-form-elements {
  margin-bottom: 10px;
}

.enviar-contacto {
  width: 150px;
  /* Ancho del botón */
  height: 40px;
  /* Altura del botón */
  padding: 10px;
  /* Relleno interno del botón */
}

#comentario {
  resize: none;
}

/* fin estilos para la pagina de contacto */
footer {
  width: 100%;
  border-top: 1px solid black;
  margin-top: auto;
}

/* estilos para el footer */
.social-media-coopirygth {
  text-align: center;
  font-size: 1rem;
  height: 10rem;
  margin-top: 2rem;
}

.img-whatsapp {
  width: 3rem;
}

.logo-whatsapp {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.social-media {
  height: 10rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
.social-media a {
  text-decoration: none;
}

/* fin de estilos para el footer*/
/* Media Query para ajustar el tamaño del texto en pantallas más pequeñas */
@media only screen and (min-width: 320px) {
  .first-section h1 {
    font-size: 2rem;
  }
  .img-whatsapp {
    width: 2rem;
  }
  .reserva-step select {
    font-size: 0.8rem;
    width: 100%;
  }
}
@media only screen and (min-width: 510px) {
  .first-section h1 {
    font-size: 2.1rem;
  }
  .img-whatsapp {
    width: 2.1rem;
  }
  .reserva-step select {
    font-size: 1rem;
    width: 100%;
  }
  .titulo-preguntas h1 {
    font-size: 1.4rem;
  }
  .pregunta-item h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 780px) {
  .first-section h1 {
    font-size: 2.2rem;
  }
  .img-whatsapp {
    width: 2.2rem;
  }
  select {
    font-size: 1.1rem;
    height: 50%;
    width: 80%;
  }
}
@media only screen and (min-width: 990px) {
  .first-section h1 {
    font-size: 2.3rem;
  }
  .img-whatsapp {
    width: 2.3rem;
  }
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom right, #ffffff, #ce54da);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  list-style: none;
}

hr {
  border: 1px solid #000;
  margin: 20px 0;
}

/*# sourceMappingURL=styles.css.map */
