* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background: linear-gradient(to bottom right, #ffffff, #ce54da);
    background-size: cover;
    /* Ajusta el tamaño del fondo */
    background-repeat: no-repeat;
    /* Evita la repetición del fondo */
    background-attachment: fixed;
    /* Fija el fondo en su posición */
    /*display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 900px;
    margin: 0;
    padding: 0;*/
}


ul {
    list-style: none;
}


hr {
    border: 1px solid #000;
    /* Cambia el color y grosor de la línea según tus preferencias */
    margin: 20px 0;
    /* Agrega márgenes para ajustar el espacio alrededor de la línea */
}


/* estilo para el menu */

a:hover {
    font-size: 1.2rem;
}


/* fin estilo menu*/


/* estilos para el logo */



.logo {
    width: 80px;
}


/* fin estilos para el logo*/



/* estilos para la primer section del index */


.first-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
}

.first-section h1 {
    font-size: 3rem;
    text-align: center;
}


.imagen-ppal-der {
    border: 1px solid black;
    width: 30rem;
    height: 35rem;
}

.imagen-ppal-der img {
    width: 100%;
}


.texto-ppal {
    position: absolute;
    top: 50%;
    /* Coloca el texto en la mitad superior */
    left: 50%;
    /* Coloca el texto en el centro horizontal */
    transform: translate(-50%, -50%);
    /* Centra verticalmente y horizontalmente */
    color: rgb(83, 55, 79);
    /* Color del texto, asegúrate de que sea visible sobre la imagen */
    text-align: center;
    width: 15em;
}

.texto-ppal h1 {
    font-size: 2rem;
}


/* fin de estilo para la imagen principal del index*/

/* estilos para la seccion de los trabajos realizados en el index*/


.lista-trabajos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.trabajo {
    background-color: rgb(255, 255, 255);
    width: 17.6rem;
    height: 100%;
}

.trabajos img {
    width: 100%;
}

.parrafo-trabajo {
    text-align: center;
    margin: 2rem;
}

.titulo-trabajos {
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
}


/* fin de estilos para la seccion de los trabajos realizados del index*/

/* estilos para la ubicacion en el index*/

#ubicacion h2 {
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
}

#ubicacion iframe {
    width: 100%;
}

/* fin estilos para la ubicacion en el index*/

/* estilos para los servicios */

#servicios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.servicio1,
.servicio2,
.servicio3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.servicio1-imagen,
.servicio2-imagen,
.servicio3-imagen {
    width: 100%;
    /* Para que la imagen se ajuste al tamaño del contenedor */
    height: auto;
    display: block;
    max-width: 50%;
    /* Imagen que no ocupa más del 50% del ancho de la pantalla */
    overflow: hidden;
    /* Para recortar la imagen si es demasiado grande */
}




/* fin estilos de los servicios*/

/* estilos para la seccion de reservas */

.reserva {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo-reserva {
    margin-top: 50px;
    margin-bottom: 100px;
}

.reserva-step {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid black;
    height: 20rem;
    width: 60vh;
    font-size: 1.2rem;
}

.reserva-step .formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reserva-step .formulario-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reserva-step select {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.reserva-step button {
    font-size: 1rem;
    border-radius: 5px;
    background-color: #dd77e0;
    height: 30px;
    margin-top: 50px;
}

.formulario-buttons .btn-enviar-reserva {
    display: none;
}

.fechas-disponibles {
    display: none;
}

.fechas-disponibles .active {
    display: flex;
    flex-direction: column;
}

.horarios-disponibles {
    display: none;
}

.horarios-disponibles .active {
    display: flex;
    flex-direction: column;
}

#btn-fechas {
    display: none;
}

#btn-fechas .active {
    display: flex;
}

#btn-horarios {
    display: none;
}

#btn-horarios .active {
    display: flex;
}

/* fin de estilos para la seccion de reservas*/

/* estilos para las preguntas frecuentes */
#preguntas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#preguntas-container .titulo-preguntas {
    margin-top: 50px;
    margin-bottom: 40px;
}

#preguntas-container .preguntas {
    width: 60%;
}

.preguntas .pregunta-item {
    margin-bottom: 30px;
}

/* fin estilos para las preguntas frecuentes */

/* estilos para la pagina de contacto */

.contacto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacto-titulo {
    font-size: 1rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contacto-parrafo {
    width: 100vh;
    margin-bottom: 50px;
}

.contacto-form {
    width: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto-form-elements {
    margin-bottom: 10px;
}

.contacto-form-elements .enviar-contacto {
    width: 150px;
    /* Ancho del botón */
    height: 40px;
    /* Altura del botón */
    padding: 10px;
    /* Relleno interno del botón */
}

/* fin estilos para la pagina de contacto */


/* estilos para el footer */

footer {
    width: 100%;
    border-top: 1px solid black;
    margin-top: auto;
}

.text-coopirygth {
    padding-top: 10px;
    text-align: center;
}

.social-media img {
    float: right;
    margin-right: 30px;
    /* Ajusta el margen del icono */
    margin-bottom: 30px;
}

.img-whatsapp {
    width: 3rem;
}

.logo-whatsapp {
    display: inline-block;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

/* fin de estilos para el footer*/

/* Media Query para ajustar el tamaño del texto en pantallas más pequeñas */
@media only screen and (min-width: 320px) {

    h1,
    h2,
    h3,
    p {
        font-size: 14px;
        /* Tamaño de texto más pequeño para pantallas más pequeñas */
    }
}

@media only screen and (min-width: 780px) {

    h1,
    h2,
    h3,
    p {
        font-size: 12px;
        /* Tamaño de texto aún más pequeño para pantallas muy pequeñas */
    }
}