@import "../base/variables";
@import "../base/extends";

/* estilos para el footer */

footer {
    @extend %footer;
}

.social-media-coopirygth {
    text-align: center;
    font-size: 1rem;
    height: 10rem;
    margin-top: 2rem;
}

.img-whatsapp {
    width: 3rem;
}

.logo-whatsapp {

    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.social-media {
    height: 10rem;
    margin-top: 1rem;
    margin-left: 1rem;

    a {
        text-decoration: none;
    }
}

/* fin de estilos para el footer*/