/* estilos para las preguntas frecuentes */
#preguntas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
    animation: opacidad 3s ease-in-out;
}

.titulo-preguntas {
    margin-bottom: 40px;

    h1 {
        font-weight: bold;
    }
}

.preguntas {
    width: 60%;
}

.pregunta-item {
    margin-bottom: 30px;
    font-weight: bold;

    h2 {
        font-weight: bold;
    }
}

/* fin estilos para las preguntas frecuentes */