/* estilos para los servicios */

.servicio {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding-top: 10rem;
    margin-bottom: 1.2rem;
    animation: opacidad 3s ease-in-out;

    img {
        border-radius: 100%;
        width: 80%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

}

.servicio-descripcion {
    background-color: rgba(184, 165, 165, 0.76);
}


.titulo-servicio {
    font-size: 2rem;
    color: $color-black;
    font-weight: bold;
}

.texto-servicio {
    color: $color-black;
    font-size: 1.2rem;
}


/* fin estilos de los servicios*/